API_ID=
API_HASH= 
BOT_TOKEN=
LOGGER_ID = 
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6514377146
STRING_SESSION=